
# exclude everything
/*

# but allow these ...

# vim files
!.vimrc
!.vsvimrc
!/.vim/

/.vim/.netrwhist

# vimperator for FireFox
!.vimperatorrc

# my mono font
!DroidSansMono.ttf

# greek stuff
!.greek.js
!.greek.save.json

# auto-it key bindings
!.joe-keyboard-extras.ahk

# my powershell settings
!/Documents/
/Documents/*
!/Documents/WindowsPowerShell/

# bash settings
!.bashrc

