
# exclude everything
/*

# but allow these ...

# vim files
!.vimrc
!/.vim/

/.vim/.netrwhist

# vimperator for FireFox
!.vimperatorrc
!/vimperator/

/vimperator/default/history-command
/vimperator/default/history-search

# my mono font
!DroidSansMono.ttf

# greek stuff
!.greek.js
!.greek.save.json

# auto-it key bindings
!.joe-keyboard-extras.ahk

# my powershell settings
!/Documents/
/Documents/*
!/Documents/WindowsPowerShell/

# bash settings
!.bashrc

vimperator/info/default/history-search
